*
{
  box-sizing: border-box;
}

body
{
  text-align: center;
}

nav
{
  list-style: none;
}

input
{
  display:block;
  margin: 10px auto;
  text-align: center;
}

table
{
  margin: 100px auto;
}

tr, td, th
{
  margin: 10px;
}
